
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-color: #ECDEC1;
}


.calendar-container {
    
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
   
    
}
.right-image{
    
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 1020px;
    z-index:999;

}
#bishop{
    transform: rotate(343deg);
}
#knight{
    transform: rotate(18deg);
    position: absolute;
    top: 101px;
    left: 118px;
    width: 100px;

}
.left-image{
    
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 439px;
    left: 35px;
    z-index:999;

}
#rooks{
    transform: rotate(336deg);
    position: absolute;
    top: 74px;
    left: 15px;

}
#pawn{
    transform: rotate(5deg);
    position: absolute;
    left: 132px;
    
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.calendar-current-date {
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 7px;
}

.calendar-navigation {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    position: relative;
}


.material-symbols-rounded {
    font-family: 'Material Symbols Rounded', sans-serif;
    font-size: 24px;
    cursor: pointer;
}

.calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.calendar-weekdays {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    font-weight: bold;
}
.calendar-dates {
list-style: none;
display: grid;
grid-template-columns: repeat(7, 1fr);
gap: 25px;
}
.calendar-dates li {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    height: 120px;
    width: 120px;
    border-radius: 5px;
    background-color: #99BB7F;
    font-size: 16px;
    margin-right: -20px;
    margin-bottom: -20px;
    cursor: pointer;
    font-weight: bolder;
    font-family: "Inter", sans-serif;
    position: relative; /* Add this line */
    top: 10px; /* Adjust the value to change the vertical position */
    left: 10px; /* Adjust the value to change the horizontal position */
    font-size: 20px;
    
}
.calendar-dates li::after{
    content: "";
    width: 5px;
    
    
}


/* .calendar-dates li:nth-child(n){
    position: absolute;
} */



.calendar-dates li:nth-child(odd) {
    background-color: transparent;
    color: #99BB7F;
    box-shadow: 0px 2px 2px #898484;
    ;
    
}
.calendar-dates li:nth-child(even){
    color: white;
}

/* .calendar-dates li:hover {
    background-color: #e6e6e6;
} */

.calendar-dates li.active {
    background-color: #007bff;
    border-radius: 50% ;
    color: #fff;
}