
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-color: #ECDEC1;
}


.calendar-container {
    
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
   
    
}
.right-image{
    
    
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 1020px;
    z-index:999;

}
#bishop{
    transform: rotate(343deg);
}
#knight{
    transform: rotate(18deg);
    position: absolute;
    top: 101px;
    left: 118px;
    width: 100px;

}
.left-image{
    
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 439px;
    left: 35px;
    z-index:999;

}
#rooks{
    transform: rotate(336deg);
    position: absolute;
    top: 74px;
    left: 15px;

}
#pawn{
    transform: rotate(5deg);
    position: absolute;
    left: 132px;
    
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.calendar-current-date {
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 7px;
}

.calendar-navigation {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    position: relative;
}


.material-symbols-rounded {
    font-family: 'Material Symbols Rounded', sans-serif;
    font-size: 24px;
    cursor: pointer;
}

.calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.calendar-weekdays {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    font-weight: bold;
}
.calendar-dates {
list-style: none;
display: grid;
grid-template-columns: repeat(7, 1fr);
gap: 25px;
}
.calendar-dates button {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    height: 120px;
    width: 120px;
    border-radius: 5px;
    background-color: #99BB7F;
    font-size: 16px;
    margin-right: -20px;
    margin-bottom: -20px;
    cursor: pointer;
    font-weight: bolder;
    font-family: "Inter", sans-serif;
    position: relative; /* Add this line */
    top: 10px; /* Adjust the value to change the vertical position */
    left: 10px; /* Adjust the value to change the horizontal position */
    font-size: 20px;
    
}
.calendar-dates button::after{
    content: "";
    width: 5px;
    
    
}


/* .calendar-dates li:nth-child(n){
    position: absolute;
} */



.calendar-dates button:nth-child(odd) {
    background-color: transparent;
    color: #99BB7F;
    box-shadow: 0px 2px 2px #898484;
    ;
    
}
.calendar-dates button:nth-child(even){
    color: white;
}

.calendar-dates button:hover {
    box-shadow: 0px 2px 2px #898484;
    background-color: rgba(63, 61, 61, 0.178);
}

.calendar-dates button.active {
    background-image: url(/assets/events/the-knight.png);
    border-radius: 50% ;
    border: none; 
    color: #fff;
    filter: invert();
}
button{
    border: none;
}
/* .calendar-current-date::first-letter{
    color: #99BB7F;
} */


.appointment-container{
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 10px;
    height: fit-content;
    width: 500px;
    padding: 40px;
}
.appointment-container h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #99BB7F;;
}
.appointment-container p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.seperator{
    width: 100%;
    height: 8px;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 8px solid #99BB7F;
}
.info-container{
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
}
.icons-container i{
   
    color: #99BB7F;
    font-size: 25px;
    margin-bottom: 12px;

}
.timing{
    display: flex;
    flex-direction: column;
    gap: 13px;
    font-size: 20px;
    font-weight: bold;
    color: #99BB7F;
    text-align: left;
    
}
#eventDescription{
    color:#99BB7F;
}

.back-to-flip-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    margin: 20px;
    border-radius: 10px;
    padding:30px;
    height: 600px;
}
.inner-border{
    border: 6px solid black;
    width: 100%;
    height: 550px;
    border-radius: 10px;

}
.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo:nth-child(1){
    height: 100px;

    width: auto;
    object-fit: cover;
}
